/* 
#2155cf - light blue
#0b1f51 - dark blue
*/

body {
    background: #0b1f51;
    font-family: 'Raleway', sans-serif;
}

header {
    height: 15px;
    background: #2155cf;
    margin-bottom: 20px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 60px;
}


h3 {
    color: white;
}

input {
    border: none;
    font-size: 28px;
    margin-top: 15px;
    padding: 10px;
    border-radius: 0px;
    vertical-align: bottom;
}

#searchLocation {
    background: #2155cf;
    color: white;
    border: none;
    font-size: 42px;
    padding: 10px;
    vertical-align: bottom;
}

#history {
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

.city-button {
    background: #2155cf;
    color: white;
    margin: auto;
    padding: 10px 30px;
    margin: 5px;
    border: none;
    font-size: 20px;
    
}


#currentWeather {display: none;}
#forecast {display: none;}

.city-info {
    margin-top: 40px;
    background: white;
    padding: 0px 15px 60px 15px;
}

.weather-main img{
    width: 100px;
    height: 100px;
    padding: 10px;
    padding-top: 30px;
    object-fit: contain;
}

.city-info h1 {
    font-family: 'Open Sans', sans-serif;
    color: #0b1f51;
    font-size: 48px;

}

#date-main {
    color: #0b1f51;
    font-size: 28px;
    text-align: center;
    margin-top: -40px;
    margin-left: 70px;
}

.weather-info {
    margin: 30px 10px 50px 10px;
    text-align: center;
}

.weather-info div {
    margin-top: 50px;
}

.weather-value {
    font-size: 38px;
    font-family: 'Open Sans', sans-serif;
    line-height: 5px;
}


#uv {
    color: white;
    margin-top: -10px;
    padding: 0px 15px 30px 15px;
}

.uv {
    color: white;
}



.day-boxes {
    margin-top: -55px;
}

.day-box {
    margin-top: 14px;
    background: #2155cf;
    color:white;
    margin-left: 7px;
    margin-right: 7px;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    position: relative;
}

.weather-icon img{
    height: 70px;
    width: 70px;
    object-fit: contain;
    padding: 10px;
    background: white;
    position: absolute;
    right: -10px;
    top: -20px;
    border-radius: 50px;
    border: solid #2155cf 3px;
    z-index: 9999;
}

.card-title {
    margin-right: 50px;
}

.card-text {
    font-size: 14px;
}

.card-text span {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}